$margin: 10px;
$padding: 10px;

@mixin flex-center{
	display:flex;
	align-items: center;
	justify-content: center;
}

body{
	@include flex-center;
	overflow-y: scroll;
	font-family:"微軟正黑體";
}

#app{
	width: 100vw;
	height: 100vh;
}
