.map {
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	&__container{
		&__state {
			position: absolute;
			padding:10px;
			left: 10px;
			bottom: 10px;
			width: 200px;
			z-index: 100;
			background: rgba(0, 0, 0, 0.5);
			color: white;
			border-radius: 5px;
			display: flex;
			align-items: center;
		}
		&__location{
			&__input{
				margin-top: 10px;
				border: 1px solid transparent;
				border-radius: 2px 0 0 2px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				height: 32px;
				outline: none;
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
				width:600px;
				&:focus{
	  				border-color: #4d90fe;
				}
			}
			&__positioningBtn{
				position: absolute;
				z-index: 1000;
				margin-top: 10px;
				border: 1px solid transparent;
				border-radius: 2px 0 0 2px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				height: 32px;
				outline: none;
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
			}
		}
	}
}
